
#navbarLogo{
  margin-left: 50px;
    width: 10%;
    height:10%;
}

#subscribe{
    background-color: #ff752e;
    border-color: #ff752e;
}

body{
    background: #f1f3f4;
}
#form-signup{
    background-color: white;
}

#space{
    height: 50px;
}